dummy-generator-sedc.json
[
    {
        "id": "tab_sedc_sim",
        "type": "tab",
        "label": "SEDC Rebuild - Simulator",
        "disabled": false,
        "info": "SEDC transformer monitoring rebuild. Generates dummy 3-phase energy meter telemetry for 3 virtual transformers in Khartoum / Omdurman / Khartoum North, decodes it faithfully using the original Energy Readings logic, and pushes JSON updates over WebSocket at /ws/transformers for the React dashboard.",
        "env": [
            {
                "name": "Devices",
                "value": "{\"data\":[{\"IMEI\":\"862506048536646\",\"device\":\"SEDC-001\",\"site\":\"الساجدين - جبرة\",\"site_e\":\"Jabra - Alsajdeen\",\"address\":\"Jabra 18th square, Khartoum, Sudan\",\"lat\":15.520419,\"long\":32.521363,\"LRV\":\"433 V\",\"LRA\":1333.4,\"RP\":\"1000 KVA\",\"rated_kva\":1000,\"I_limit\":700,\"V2_limit\":420},{\"IMEI\":\"865583041220517\",\"device\":\"SEDC-002\",\"site\":\"أحمد الطيب - أمبدة الحارة الأولى\",\"site_e\":\"Ombada Alhara 1 - Ahmed Altayeb\",\"address\":\"Ombada, Omdurman, Sudan\",\"lat\":15.671521,\"long\":32.451118,\"LRV\":\"433 V\",\"LRA\":1333.4,\"RP\":\"1000 KVA\",\"rated_kva\":1000,\"I_limit\":1100,\"V2_limit\":400},{\"IMEI\":\"864086061228973\",\"device\":\"SEDC-003\",\"site\":\"محمد عوض حمزة - شمبات مربع 11\",\"site_e\":\"Shambat Square 11 - Mohammed Awad Hamza\",\"address\":\"Shambat Extension, Khartoum North, Sudan\",\"lat\":15.656971,\"long\":32.535061,\"LRV\":\"433 V\",\"LRA\":2000,\"RP\":\"1500 KVA\",\"rated_kva\":1500,\"I_limit\":1000,\"V2_limit\":410}]}",
                "type": "json"
            }
        ]
    },
    {
        "id": "inject_tick",
        "type": "inject",
        "z": "tab_sedc_sim",
        "name": "Every 5s",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "tick",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [["fn_simulator"]]
    },
    {
        "id": "fn_simulator",
        "type": "function",
        "z": "tab_sedc_sim",
        "name": "SEDC Simulator (3 transformers)",
        "func": "// Emits one MQTT-style 3-element JSON array per device per tick.\n// State per IMEI evolves: load fluctuates, occasional spikes.\n\nconst env_data = env.get('Devices');\nif (!env_data || !env_data.data) {\n    node.error('Devices env var not set');\n    return null;\n}\nconst devices = env_data.data;\n\nfunction initState() {\n    return {\n        loadFactor: 0.45 + Math.random() * 0.4,\n        loadTrend: (Math.random() - 0.5) * 0.005,\n        tick: 0,\n        netE: 100000 + Math.random() * 500000,\n    };\n}\n\nfunction evolve(state) {\n    state.tick++;\n    state.loadTrend += (Math.random() - 0.5) * 0.002;\n    state.loadTrend = Math.max(-0.01, Math.min(0.01, state.loadTrend));\n    state.loadFactor += state.loadTrend;\n    state.loadFactor += (0.6 - state.loadFactor) * 0.02;\n    state.loadFactor = Math.max(0.2, Math.min(1.05, state.loadFactor));\n    if (Math.random() < 0.01) state.loadFactor = Math.min(1.18, state.loadFactor + 0.2);\n    return state;\n}\n\nfunction generate24(device, state) {\n    const ratedV_LL = parseFloat(device.LRV);\n    const ratedV_LN = ratedV_LL / Math.sqrt(3);\n    const ratedI = device.LRA;\n    const load = state.loadFactor;\n    const imb = () => 1 + (Math.random() - 0.5) * 0.05;\n\n    const V_A = ratedV_LN * (0.96 + Math.random() * 0.07) * imb();\n    const V_B = ratedV_LN * (0.96 + Math.random() * 0.07) * imb();\n    const V_C = ratedV_LN * (0.96 + Math.random() * 0.07) * imb();\n    const overshoot = load > 1.0 ? 1.04 : 1.0;\n    const V_AB = V_A * Math.sqrt(3) * imb() * overshoot;\n    const V_BC = V_B * Math.sqrt(3) * imb() * overshoot;\n    const V_AC = V_C * Math.sqrt(3) * imb() * overshoot;\n    const I_A = ratedI * load * imb();\n    const I_B = ratedI * load * imb();\n    const I_C = ratedI * load * imb();\n    const PF_A = 0.85 + Math.random() * 0.14;\n    const PF_B = 0.85 + Math.random() * 0.14;\n    const PF_C = 0.85 + Math.random() * 0.14;\n    const P_A = V_A * I_A * PF_A;\n    const P_B = V_B * I_B * PF_B;\n    const P_C = V_C * I_C * PF_C;\n    const S_A = V_A * I_A;\n    const S_B = V_B * I_B;\n    const S_C = V_C * I_C;\n    const Q_A = Math.sqrt(Math.max(0, S_A * S_A - P_A * P_A));\n    const Q_B = Math.sqrt(Math.max(0, S_B * S_B - P_B * P_B));\n    const Q_C = Math.sqrt(Math.max(0, S_C * S_C - P_C * P_C));\n    const VAngle_AB = 120 + (Math.random() - 0.5) * 2;\n    const VAngle_BC = 120 + (Math.random() - 0.5) * 2;\n    const VAngle_AC = 120 + (Math.random() - 0.5) * 2;\n\n    return [\n        V_A, V_B, V_C,\n        V_AB, V_BC, V_AC,\n        I_A, I_B, I_C,\n        P_A, P_B, P_C,\n        Q_A, Q_B, Q_C,\n        S_A, S_B, S_C,\n        PF_A, PF_B, PF_C,\n        VAngle_AB, VAngle_BC, VAngle_AC,\n    ];\n}\n\nfor (let i = 0; i < devices.length; i++) {\n    const device = devices[i];\n    const stateKey = 'transformer_state_' + device.IMEI;\n    let state = flow.get(stateKey) || initState();\n    state = evolve(state);\n\n    const data = generate24(device, state);\n    // Approximate energy accumulation (kWh per tick)\n    const P_total = data[9] + data[10] + data[11];\n    state.netE += (P_total * 5) / (3600 * 1000);\n    flow.set(stateKey, state);\n\n    const PF_AVG = (data[18] + data[19] + data[20]) / 3;\n    const F = 50 + (Math.random() - 0.5) * 0.2;\n    const TS = Math.floor(Date.now() / 1000);\n\n    // 3-element JSON array — matches the original SEDC MQTT payload\n    node.send({\n        payload: [\n            { IMEI: device.IMEI, TS: String(TS), S_P_F: [PF_AVG, F] },\n            { IMEI: device.IMEI, TS: String(TS), DATA: data },\n            { IMEI: device.IMEI, TS: String(TS), Net_E: [state.netE] },\n        ]\n    });\n}\n\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [["fn_decoder", "debug_raw"]]
    },
    {
        "id": "fn_decoder",
        "type": "function",
        "z": "tab_sedc_sim",
        "name": "Energy Readings (Decoder)",
        "func": "// Faithful rebuild of the original SEDC Energy Readings decoder.\n// Unpacks the 3-element JSON array into a single combined object\n// containing header + data + alarm flags.\n\nconst env_data = env.get('Devices');\nconst devices = env_data.data;\n\nconst payload = msg.payload;\nif (!Array.isArray(payload) || payload.length < 3) {\n    node.warn('Invalid payload — expected 3-element array');\n    return null;\n}\n\nconst meta = payload[0];          // { IMEI, TS, S_P_F: [pf, f] }\nconst data_pkt = payload[1];      // { IMEI, TS, DATA: [24 values] }\nconst energy_pkt = payload[2];    // { IMEI, TS, Net_E: [kWh] }\n\nconst imei = meta.IMEI;\nconst device = devices.find(d => d.IMEI === imei);\nif (!device) {\n    node.warn('Unknown IMEI: ' + imei);\n    return null;\n}\n\nconst d = data_pkt.DATA;\nconst V_A = d[0], V_B = d[1], V_C = d[2];\nconst V_AB = d[3], V_BC = d[4], V_AC = d[5];\nconst I_A = d[6], I_B = d[7], I_C = d[8];\nconst P_A = d[9], P_B = d[10], P_C = d[11];\nconst Q_A = d[12], Q_B = d[13], Q_C = d[14];\nconst S_A = d[15], S_B = d[16], S_C = d[17];\nconst PF_A = d[18], PF_B = d[19], PF_C = d[20];\nconst VAngle_AB = d[21], VAngle_BC = d[22], VAngle_AC = d[23];\n\nconst V_AVG = (V_A + V_B + V_C) / 3;\nconst V2_AVG = (V_AB + V_BC + V_AC) / 3;\nconst I_AVG = (I_A + I_B + I_C) / 3;\nconst P_TOTAL = (P_A + P_B + P_C) / 3;\nconst Q_TOTAL = (Q_A + Q_B + Q_C) / 3;\nconst S_TOTAL = (S_A + S_B + S_C) / 3;\nconst VAngle_AVG = (VAngle_AB + VAngle_BC + VAngle_AC) / 3;\n\nconst V_AB_alarm = V_AB > device.V2_limit;\nconst V_BC_alarm = V_BC > device.V2_limit;\nconst V_AC_alarm = V_AC > device.V2_limit;\nconst I_A_alarm = I_A > device.I_limit;\nconst I_B_alarm = I_B > device.I_limit;\nconst I_C_alarm = I_C > device.I_limit;\nconst V_Alarm = V_AB_alarm || V_BC_alarm || V_AC_alarm;\nconst I_Alarm = I_A_alarm || I_B_alarm || I_C_alarm;\n\nconst Net_E = energy_pkt.Net_E[0];\nconst totalS_3ph = S_A + S_B + S_C;\nconst load_percent = (totalS_3ph / (device.rated_kva * 1000)) * 100;\n\nconst ts = parseInt(meta.TS, 10) * 1000;\nconst dt = new Date(ts);\n\nmsg.payload = {\n    IMEI: imei,\n    device: device.device,\n    site_en: device.site_e,\n    site_ar: device.site,\n    address: device.address,\n    lat: device.lat,\n    long: device.long,\n    LRV: device.LRV,\n    LRA: device.LRA,\n    RP: device.RP,\n    rated_kva: device.rated_kva,\n    I_limit: device.I_limit,\n    V2_limit: device.V2_limit,\n    DATE: dt.toISOString().slice(0, 10),\n    TIME: dt.toTimeString().slice(0, 8),\n    SPF: meta.S_P_F[0],\n    F: meta.S_P_F[1],\n    Net_E: Net_E,\n    reading: {\n        V_A, V_B, V_C, V_AB, V_BC, V_AC,\n        I_A, I_B, I_C,\n        P_A, P_B, P_C,\n        Q_A, Q_B, Q_C,\n        S_A, S_B, S_C,\n        PF_A, PF_B, PF_C,\n        VAngle_AB, VAngle_BC, VAngle_AC,\n    },\n    V_AVG, V2_AVG, I_AVG,\n    P_TOTAL, Q_TOTAL, S_TOTAL,\n    VAngle_AVG,\n    load_percent,\n    alarms: {\n        V_AB_alarm, V_BC_alarm, V_AC_alarm,\n        I_A_alarm, I_B_alarm, I_C_alarm,\n        V_Alarm, I_Alarm,\n        any: V_Alarm || I_Alarm,\n    },\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": [["fn_format"]]
    },
    {
        "id": "fn_format",
        "type": "function",
        "z": "tab_sedc_sim",
        "name": "Format for WebSocket",
        "func": "// Reshape the decoder output into the TransformerUpdate shape\n// the React dashboard expects.\n\nconst info = msg.payload;\nconst r = (n) => Math.round(n * 100) / 100;\nconst r4 = (n) => Math.round(n * 10000) / 10000;\n\nmsg.payload = {\n    type: 'transformer_update',\n    timestamp: new Date().toISOString(),\n    imei: parseInt(info.IMEI, 10),\n    device: info.device,\n    site: {\n        name_en: info.site_en,\n        name_ar: info.site_ar,\n        city: info.site_en.includes('Omdurman') ? 'Omdurman' : info.site_en.includes('Shambat') ? 'Khartoum North' : 'Khartoum',\n        address: info.address,\n        lat: info.lat,\n        long: info.long,\n    },\n    spec: {\n        LRV: info.LRV,\n        LRA: info.LRA,\n        RP: info.RP,\n        rated_kva: info.rated_kva,\n        I_limit: info.I_limit,\n        V2_limit: info.V2_limit,\n    },\n    reading: {\n        V_A: r(info.reading.V_A), V_B: r(info.reading.V_B), V_C: r(info.reading.V_C),\n        V_AB: r(info.reading.V_AB), V_BC: r(info.reading.V_BC), V_AC: r(info.reading.V_AC),\n        I_A: r(info.reading.I_A), I_B: r(info.reading.I_B), I_C: r(info.reading.I_C),\n        P_A: r(info.reading.P_A), P_B: r(info.reading.P_B), P_C: r(info.reading.P_C),\n        Q_A: r(info.reading.Q_A), Q_B: r(info.reading.Q_B), Q_C: r(info.reading.Q_C),\n        S_A: r(info.reading.S_A), S_B: r(info.reading.S_B), S_C: r(info.reading.S_C),\n        PF_A: r4(info.reading.PF_A), PF_B: r4(info.reading.PF_B), PF_C: r4(info.reading.PF_C),\n        VAngle_AB: r(info.reading.VAngle_AB), VAngle_BC: r(info.reading.VAngle_BC), VAngle_AC: r(info.reading.VAngle_AC),\n        V_AVG: r(info.V_AVG), V2_AVG: r(info.V2_AVG), I_AVG: r(info.I_AVG),\n        P_TOTAL: r(info.P_TOTAL), Q_TOTAL: r(info.Q_TOTAL), S_TOTAL: r(info.S_TOTAL),\n        VAngle_AVG: r(info.VAngle_AVG),\n        SPF: r4(info.SPF),\n        F: r(info.F),\n        Net_E: r(info.Net_E),\n        load_percent: r(info.load_percent),\n    },\n    alarms: info.alarms,\n    rtc: info.TIME,\n    date: info.DATE,\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 120,
        "wires": [["ws_out", "debug_formatted"]]
    },
    {
        "id": "ws_out",
        "type": "websocket out",
        "z": "tab_sedc_sim",
        "name": "WS /ws/transformers",
        "server": "ws_listener_sedc",
        "client": "",
        "x": 1140,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug_raw",
        "type": "debug",
        "z": "tab_sedc_sim",
        "name": "raw JSON array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug_formatted",
        "type": "debug",
        "z": "tab_sedc_sim",
        "name": "transformer update (JSON)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.device",
        "targetType": "msg",
        "statusVal": "payload.device",
        "statusType": "auto",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "catch_errors",
        "type": "catch",
        "z": "tab_sedc_sim",
        "name": "All errors",
        "scope": null,
        "uncaught": false,
        "x": 110,
        "y": 320,
        "wires": [["debug_errors"]]
    },
    {
        "id": "debug_errors",
        "type": "debug",
        "z": "tab_sedc_sim",
        "name": "error",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 320,
        "wires": []
    },
    {
        "id": "comment_overview",
        "type": "comment",
        "z": "tab_sedc_sim",
        "name": "SEDC Rebuild - Simulator Flow",
        "info": "Pipeline:\n\n[Inject every 5s]\n   -> [SEDC Simulator]\n        Generates one 3-element JSON array per transformer (3 devices).\n        Same shape as the original SEDC MQTT payload (gts_energy topic).\n   -> [Energy Readings (Decoder)]\n        Faithful rebuild of original SEDC decoder. Unpacks 24-element DATA\n        array, computes averages, checks alarms.\n   -> [Format for WebSocket]\n        Reshapes for the React dashboard.\n   -> [WS /ws/transformers]\n        Pushed live to ws://<host>:1880/ws/transformers\n\nConfigure 3 devices via the tab's env var 'Devices'.",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "ws_listener_sedc",
        "type": "websocket-listener",
        "path": "/ws/transformers",
        "wholemsg": "false"
    }
]
